# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Pinball/.vs/2D Physics/v16/.suo
Pinball/.vs/2D Physics/v16/.suo
*.db
Pinball/Debug/2D Physi.746CC4C3.tlog/CL.read.1.tlog
*.db
*.opendb
Pinball/.vs/2D Physics/v16/Browse.VC.db
